.pageNum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.pageBtn{
    border: 1px solid black;
    border-radius: 5px;
    margin:10px;
    padding: 15px;
}
.active{
    background-color: #595990;
    color: #fff;
}
.pageBtn:hover{
    cursor: pointer;
}
.prev-btn:hover, .next-btn:hover {
    background-color: #595990;
    color: #fff;
}